DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True

POSTGRES_ENGINE=django.db.backends.postgresql
PRODUCT_SERVICE_PORT=8003

POSTGRES_DB=product-db
POSTGRES_USER=product-user
POSTGRES_PASSWORD=123456
PRODUCT_DB_PORT=5433

DB_HOST=product-db
DB_PORT=5432
DB_NAME=product-db
DB_USER=product-user
DB_PASSWORD=123456

REDIS_URL=redis://localhost:6379/1
RECOMMENDATION_GRPC_HOST=ai-service:50051
ORDER_GRPC_HOST=order-service:50052

# Cloudinary config for image upload
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
