# Identity Service example environment

DJANGO_SECRET_KEY=change-me-in-local-test
DJANGO_DEBUG=1

DB_ENGINE=django.db.backends.mysql
DB_HOST=db
DB_NAME=user_db
DB_USER=root
DB_PASSWORD=
DB_PORT=3306

JWT_SECRET_KEY=change-me-in-local-test
JWT_ALGORITHM=HS256

JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRES_DAYS=7
