# Payment Service Example Environment
DJANGO_SECRET_KEY=your-secret-key

MYSQL_ENGINE=django.db.backends.mysql
PAYMENT_SERVICE_PORT=8006

MYSQL_DATABASE=payment-db
MYSQL_USER=payment-user
MYSQL_PASSWORD=123456
MYSQL_ROOT_PASSWORD=root
PAYMENT_DB_PORT=3308

DB_HOST=payment-db
DB_PORT=3306
DB_NAME=payment-db
DB_USER=payment-user
DB_PASSWORD=123456

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
