# Shipping Service Example Environment
DJANGO_SECRET_KEY=your-secret-key
MYSQL_ENGINE=django.db.backends.mysql
SHIPPING_SERVICE_PORT=8007

MYSQL_DATABASE=shipping_db
MYSQL_USER=shipping_user
MYSQL_PASSWORD=shipping_pass
MYSQL_ROOT_PASSWORD=root

DB_HOST=shipping-db
DB_PORT=3306
DB_NAME=shipping_db
DB_USER=shipping_user
DB_PASSWORD=shipping_pass

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
